<template>
    <div class="container">
        <ul class="comment-list">
            <Comment :key="comment.author" v-for="comment in comments" :comment="comment"></Comment>
        </ul>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Comment from './Comment'

    export default {
        name: "Comments",
        components: {Comment},
        mounted() {
            this.$store.dispatch('GET_COMMENTS')

            Pusher.logToConsole = true;

            let pusher = new Pusher('f122303175c00d7a087a', {
                cluster: 'ap1',
                 encrypted: false
            });

            var channel = pusher.subscribe('my-channel');

            channel.bind('my-event', (data) => {
                this.$store.commit('ADD_COMMENT', data.comment)
            })
        },
        computed: {
            ...mapGetters([
                'comments'
            ])
        }
    }
</script>

<style scoped>
    .comment-list {
        padding: 1em 0;
        margin-bottom: 15px;
    }

</style>
